h1{
    text-align: center;
    line-height: 50px;
}
h2{
    color: rgba(255, 230, 0, 0.849);
    font-variant: small-caps;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 75px;
    font-style: italic;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    cursor: context-menu;
}
h2:hover{
    color: rgb(255, 0, 0);
    cursor: context-menu;
}
h3{
    text-align: center;
    line-height: 56px;
}
